 *{
    margin: 0;
    padding: 0;
}
ul,li{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.main-body{
    margin: 0 auto;
}
/* ===================================================== */

nav {
    background: transparent;
    width: 100%;
    position: fixed;
    top: 24px;
    left: 0;
    margin: 0 auto;
    z-index: 99999;
   
}
nav .nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding: 10px 32px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.04);

}
nav .nav-wrapper ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
nav .nav-wrapper ul li a{
    color: #0C0C0C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: all linear .3s;
}
nav .nav-wrapper ul li:hover a{
    color: #F77358;
}



nav .nav-wrapper .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 4px 6px 4px 24px;
    border-radius: 12px;
    border: 1.5px solid rgba(12, 12, 12, 0.12);
    background: #0C0C0C;
}
nav .nav-wrapper .nav-btn .nav-text a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}

nav .nav-wrapper .nav-btn:hover{
    background: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
  
}

/* ===================================================== */
#banner-part{
    padding-top: 135px;
    background: url(../images/banner\ bg.png) no-repeat center;
    background-size: cover;
}
.divider{
    border-top: 1px solid rgba(12, 12, 12, 0.08);
}

#banner-part .border{
    width: 100%;
    min-height: 60vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
}
.border .top-img1{
    position: absolute;
    top: -13px;
    left: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.border .top-img2{
    position: absolute;
    top: -13px;
    left: 147px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.border .top-img3{
    position: absolute;
    top: -13px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.border .top-img4{
    position: absolute;
    top: -13px;
    right: 148px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.border .border-inner{
    width: 75%;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    margin: 0 auto;
}


#banner-part .banner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#banner-part .banner-wrapper .banner-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 18px 9px 10px;
    gap: 8px;
    border-radius: 100px;
    background: rgba(12, 12, 12, 0.04);
    margin-top: 57px;
}
#banner-part .banner-wrapper .banner-title img{
    width: 20px;
    height: 20px;
}
#banner-part .banner-wrapper .banner-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
#banner-part .banner-wrapper .banner-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 20px;
}
#banner-part .banner-wrapper .banner-heading .heading-top{
    display: flex;
    justify-content: center;
    align-items: start;
}
#banner-part .banner-wrapper .banner-heading .heading-top img{
    padding: 0 15px;
}
#banner-part .banner-wrapper .banner-heading h1{
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.96px;
    text-transform: capitalize;
}
#banner-part .banner-wrapper p{
    max-width: 630px;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

#banner-part .banner-wrapper .banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 40px 0 60px 0;
    padding: 4px 6px 4px 24px;
    border-radius: 12px;
    border: 1.5px solid rgba(12, 12, 12, 0.12);
    background: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
    transition: all linear .3s;
}
#banner-part .banner-wrapper .banner-btn .banner-text a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}

#banner-part .banner-wrapper .banner-btn:hover{
    background: #0C0C0C;
}

#banner-part .banner-bottom-img{
    text-align: center;
}
/* =========================================================== */

#company-logos .border{
    width: 100%;
    min-height: 60vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
}
#company-logos{
    position: relative;
    background: #FFF;
    height: 250px;
    top: -5px;
}

#company-logos .company-wrapper{
    padding-top: 80px;

}
#company-logos .company-wrapper .company-heading{
    text-align: center;

}
#company-logos .company-wrapper .company-heading h4{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 

}

#company-logos .company-wrapper .logo-main{
    margin: 0 auto; 
    overflow: hidden; 
    position: relative;
}
#company-logos .company-wrapper .company-logo {
    width: max-content; 
    height: 98px;
    display: flex;
    align-items: center;
    gap: 110px; 
    animation: scrollLeftToRight 20s linear infinite; 
}
#company-logos .company-wrapper .company-logo img{
    width: 130px;
    height: 34px;
} 
@keyframes scrollLeftToRight {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}

/* ======================================================== */

#feathers-part{
    padding-top: 80px;
}
#feathers-part .divider{
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;

}
#feathers-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#feathers-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#feathers-part .border{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
}

#feathers-part .feather-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#feathers-part .feather-wrapper .feather-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    margin-top: 92px;
    max-width: 125px;
    transition: all linear .3s;
}
#feathers-part .feather-wrapper .feather-title:hover{
    background: #000;
}
#feathers-part .feather-wrapper .feather-title:hover h6{
    color: #FFF;
}
#feathers-part .feather-wrapper .feather-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#feathers-part .feather-wrapper .feather-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all linear .3s;
}
#feathers-part .feather-wrapper .feather-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#feathers-part .feather-wrapper h2{
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 110.714% */
    letter-spacing: -1.12px;
    padding: 20px 0;
}
#feathers-part .feather-wrapper .heading-p{
    max-width: 716px;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 56px;
}
#feathers-part .feather-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#feathers-part .feather-cards .feather-card-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 187px;
    height: 538px;
    border-radius: 16px;
    background: #F4F6F9;
    padding: 48px;
}
#feathers-part .feather-cards .feather-card-top .feather-card-text h4{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: -0.8px;
}
#feathers-part .feather-cards .feather-card-top .feather-card-text .card-p{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
    text-align: left;
    padding: 24px 0;
}
#feathers-part .feather-cards .feather-card-top .feather-card-text ul{
    list-style: disc ;
    color: #666;
    padding-left: 20px;
}
#feathers-part .feather-cards .feather-card-top .feather-card-text ul li{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
#feathers-part .feather-card-img{
    position: relative;
}
#feathers-part .feather-card-img .card-down{
    display: flex;
    max-width: 364px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 13px;
    border: 0.5px solid rgba(12, 12, 12, 0.03);
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(11, 36, 84, 0.05);
    position: absolute;
    top: 124px;
    left: 33px;
}
#feathers-part .feather-card-img .card-down span{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    max-width: 307px;
    opacity: 0.7;
}
#feathers-part .feather-card-img .card-up{
    max-width: 310px;
    height: 248px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: -4px 5.403px 5.403px 0 rgba(165, 147, 189, 0.00), 2px 2.026px 0 0 rgba(204, 196, 215, 0.19), 0 2.701px 2.701px 0 rgba(165, 147, 189, 0.13);
    padding: 16px;
    position: absolute;
    top: 130px;
    right: -40px;
}

#feathers-part .feather-card-img .card-up strong{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
}
#feathers-part .feather-card-img .card-up .box-up{
    display: flex;
    max-width: 280px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 13px;
    border: 0.5px solid rgba(12, 12, 12, 0.03);
    background: #F9F9F9;
    box-shadow: 0 2px 4px 0 rgba(11, 36, 84, 0.05);
    margin: 12px 0;
}
#feathers-part .feather-card-img .big-img{
    max-width: 430px;
    height: 470px;
}
#feathers-part .feather-card-img .card-up .box-up .box-strong{
    max-width: 222px;
    color: #0C0C0C;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: -0.2px;
}

#feathers-part .feather-card-img .card-up .box-down{
    max-width: 280px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid rgba(12, 12, 12, 0.03);
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#feathers-part .feather-card-img .card-up .box-down img{
    width: 140px;
    height: 24px;
}

#feathers-part .feather-card-img .card-up .box-down .div-one{
    max-width: 163px;
    height: 8px;
    border-radius: 100px;
    background: #FAFAFA;
}
#feathers-part .feather-card-img .card-up .box-down .div-two{
    max-width: 108px;
    height: 8px;
    border-radius: 100px;
    background: #FAFAFA;
}

#feathers-part .feather-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
#feathers-part .feather-card-bottom .card-one{
    max-width: 413px;
    border-radius: 16px;
    background: #F4F6F9;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}
#feathers-part .feather-card-bottom .card-one h5{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
}
#feathers-part .feather-card-bottom .card-one .card-title{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 77px;
}
#feathers-part .feather-card-bottom .card-one img{
    width: 100%;
    height: 303px;
    overflow: hidden;
    background-size: cover;
}


/* =========================================================== */

#step-part {
    padding-top: 92px;
    margin-bottom: -105px;
}


#step-part .divider{
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    padding-bottom: 100px;

}
#step-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#step-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#step-part .border {
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -195px;
    left: 0;
}

#step-part .step-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#step-part .step-wrapper .step-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    margin-top: 92px;
    max-width: 125px;
    transition: all linear .3s;
}
#step-part .step-wrapper .step-title:hover{
    background: #000;
}
#step-part .step-wrapper .step-title:hover h6{
    color: #FFF;
}
#step-part .step-wrapper .step-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#step-part .step-wrapper .step-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all linear .3s;
}
#step-part .step-wrapper .step-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 92px;
}
#step-part .step-wrapper h2 {
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: -1.12px;
    padding: 20px 0 56px 0;
}

#step-part .step-wrapper .step-card-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
#step-part .step-wrapper .step-card{
    display: flex;
    max-width: 413px;
    padding:20px 20px 48px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    background: rgba(39, 193, 122, 0.12);
}
#step-part .step-wrapper .step-card h5{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
}
#step-part .step-wrapper .step-card span{
    max-width: 366px;
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#step-part .step-wrapper .step-card img{
    padding-top: 28px;
}
#step-part .step-wrapper .step-card-big {
    display: flex;
    max-width: 413px;
    padding: 16px 20px 40px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    background: rgba(6, 86, 255, 0.12);
}
#step-part .step-wrapper .step-card-big h5{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
}
#step-part .step-wrapper .step-card-big span{
    max-width: 366px;
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#step-part .step-wrapper .step-card-big img{
    padding-top: 3px;
}
#step-part .step-wrapper .step-card-big-r {
    display: flex;
    max-width: 413px;
    height: 531px;
    padding: 16px 0px 3px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    background: #FEEEEA;
}
#step-part .step-wrapper .step-card-big-r h5{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
}
#step-part .step-wrapper .step-card-big-r span{
    max-width: 366px;
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#step-part .step-wrapper .step-card-big-r img{
    width: 349px;
    height: 359px;
    padding-top: 3px;
}

/* ==================================================== */

#works-part{
    margin-bottom: -115px;
}

#works-part .divider{
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    padding-bottom: 100px;

}
#works-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#works-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#works-part .border {
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -195px;
    left: 0;
    padding-top: 92px;
}

#works-part .works-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#works-part .works-wrapper .works-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    margin-top: 92px;
    max-width: 130px;
    transition: all linear .3s;
}
#works-part .works-wrapper .works-title:hover{
    background: #000;
}
#works-part .works-wrapper .works-title:hover h6{
    color: #FFF;
}
#works-part .works-wrapper .works-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#works-part .works-wrapper .works-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all linear .3s;
}
#works-part .works-wrapper .works-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#works-part .works-wrapper h2{
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 110.714% */
    letter-spacing: -1.12px;
    padding: 56px 0 0 0;
}

#works-part .works-wrapper .works-main{
    display: flex;
    align-items: start;
    gap: 48px;
}
#works-part .works-wrapper .works-main .works-left{
    border: 1px solid rgba(12, 12, 12, 0.10);
    border-radius: 8px;
    margin-left: 5px;
}
#works-part .works-wrapper .works-main .works-left ul{
    display: flex;
    align-items: start;
    flex-direction: column;
}
#works-part .works-wrapper .works-main .works-left ul li:hover{
    background: linear-gradient(270deg, rgba(255, 132, 50, 0.10) 0%, rgba(224, 63, 208, 0.10) 100%);
}
#works-part .works-wrapper .works-main .works-left ul li:hover {
    border-left: 5px solid #F06281 ;
    margin-left: -6px;
    width: 79%;
}
#works-part .works-wrapper .works-main .works-left ul li:hover span{
    color: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
    background: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#works-part .works-wrapper .works-main .works-left ul li:hover .work-dot{
   background:var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
    
}
#works-part .works-wrapper .works-main .works-left ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 24px;
    border-bottom: 1px solid rgba(12, 12, 12, 0.10);
    width: 165px;
    transition: all linear .3s;
}
#works-part .works-wrapper .works-main .works-left ul li .work-dot{
    width: 7px;
    height: 7px;
    background: #736F6F;
    border-radius: 50%;
    transition: all linear .3s;
}
#works-part .works-wrapper .works-main .works-left ul li span{
    color: #736F6F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    transition: all linear .3s;
}

#works-part .works-wrapper .works-main .works-right{
    display: flex;
    gap: 80px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(12, 12, 12, 0.16);
    padding: 56px 56px 56px 32px;
}
#works-part .works-wrapper .works-main .works-right h2{
    color: #0C0C0C;
    font-family: Geist;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
    text-align: left;
}
#works-part .works-wrapper .works-main .works-right p{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
    padding-bottom: 24px;
}
#works-part .works-wrapper .works-main .works-right ul{
    padding-left: 16px;
}
#works-part .works-wrapper .works-main .works-right ul li{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
}


/* ====================================================== */

#pricing-part .divider{
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;

}
#pricing-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#pricing-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#pricing-part .border{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -195px;
    left: 0;
}

#pricing-part .pricing-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 192px;
}

#pricing-part .pricing-wrapper .pricing-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    margin-top: 92px;
    max-width: 125px;
    transition: all linear .3s;
}
#pricing-part .pricing-wrapper .pricing-title:hover{
    background: #000;
}
#pricing-part .pricing-wrapper .pricing-title:hover h6{
    color: #FFF;
}
#pricing-part .pricing-wrapper .pricing-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#pricing-part .pricing-wrapper .pricing-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all linear .3s;
}
#pricing-part .pricing-wrapper .pricing-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pricing-part .pricing-wrapper h2{
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 110.714% */
    letter-spacing: -1.12px;
    padding: 20px 0;
}
#pricing-part .pricing-wrapper .heading-p{
    max-width: 716px;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 56px;
}

#pricing-part .pricing-wrapper .pricing-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

#pricing-part .pricing-wrapper .pricing-card .pricing-left:hover{
    background: url(../images/pricing\ bg.png) no-repeat center;
    background-size: cover;
    border-radius: 24px;
    border: 1px solid #FF8432;

}

#pricing-part .pricing-wrapper .pricing-card .pricing-left .pricing-top .pricing-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 4px 6px 4px 24px;
    border-radius: 12px;
    border: 1.5px solid rgba(12, 12, 12, 0.12);
    background: #0C0C0C;
    transition: all linear .3s;
}




#pricing-part .pricing-wrapper .pricing-btn .pricing-text a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}

#pricing-part .pricing-wrapper .pricing-card .pricing-left .pricing-top .pricing-btn:hover{
    background: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
}

#pricing-part .pricing-bottom-img{
    text-align: center;
}
#pricing-part .pricing-wrapper .pricing-left{
    padding: 16px 16px 32px 16px;
    border-radius: 24px;
    background: #F5F5F5;
}
#pricing-part .pricing-wrapper .pricing-top{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: #FFF;
}

#pricing-part .pricing-wrapper .pricing-top .pricing-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#pricing-part .pricing-wrapper .pricing-top .pricing-logo img{
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#pricing-part .pricing-wrapper .pricing-top strong{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
    padding-top: 27px;
    padding-bottom: 75px;
}

#pricing-part .pricing-wrapper .pricing-top .btn-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#pricing-part .pricing-wrapper .pricing-top .btn-main .dollar{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.24px;
}
#pricing-part .pricing-wrapper .pricing-top .btn-main .month{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 27.119px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.136px;
}

#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams{
    display: flex;
    align-items: center;
    gap: 120px;
    padding-top: 40px;
    padding-bottom: 17px;
}

#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 24px;

}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-right{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-left .iteam{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-right .iteam{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-left img{
    width: 24px;
    height: 24px;
}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-left p{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-right img{
    width: 24px;
    height: 24px;
}
#pricing-part .pricing-wrapper .pricing-bottom .pricing-iteams .iteam-right p{
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

#pricing-part .pricing-wrapper .pricing-bottom{
    padding: 15px;
}


/* ======================================================== */

#testimonial-part .divider {
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -80px;
    left: 0;
}
#testimonial-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#testimonial-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#testimonial-part .border{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -195px;
    left: 0;
}

#testimonial-part .testimonial-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 192px;
}

#testimonial-part .testimonial-wrapper .testimonial-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    max-width: 125px;
    transition: all linear .3s;
}
#testimonial-part .testimonial-wrapper .testimonial-title:hover{
    background: #000;
}
#testimonial-part .testimonial-wrapper .testimonial-title:hover h6{
    color: #FFF;
}
#testimonial-part .testimonial-wrapper .testimonial-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#testimonial-part .testimonial-wrapper .testimonial-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all linear .3s;
}
#testimonial-part .testimonial-wrapper .testimonial-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#testimonial-part .testimonial-wrapper h2{
    color: #0C0C0C;
    text-align: center;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 110.714% */
    letter-spacing: -1.12px;
    padding: 20px 0;
}
#testimonial-part .testimonial-wrapper .heading-p{
    max-width: 670px;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 56px;
}

#testimonial-part .testimonial-wrapper .testi-box-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-top{
    width: 1280px;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0;
    background: linear-gradient(180deg,  #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom{
    width: 1280px;
    height: 170px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 481px;
    max-width: 500px;
    padding: 9px 18px 9px 60px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.06);
    background: var(--012, linear-gradient(270deg, #FF8432 0%, #E03FD0 100%));
    box-shadow: 0 3px 1.5px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all linear .3s;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn:hover{
    background: #000;
    box-shadow: 0 3px 1.5px 0 rgba(0, 0, 0, 0.08);
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn .btn-img{
    position: relative;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn .testi-img1 {
    position: absolute;
    top: -14px;
    left: -53px;
    z-index: 1;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn .testi-img2 {
    position: absolute;
    top: -14px;
    left: -38px;
    z-index: 2;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn .testi-img3 {
    position: absolute;
    top: -14px;
    left: -23px;
    z-index: 3;
}
#testimonial-part .testimonial-wrapper .testi-box-main .blur-bottom .testi-btn .btn-text p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: var(--Size-Body-base, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.128px;
}
#testimonial-part .testimonial-wrapper .testi-box-main .testi-box{
    max-width: 362px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px;
    background: #F5F5F5;
}


#testimonial-part .testimonial-wrapper .testi-box-main .testi-box .testi-top{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

#testimonial-part .testimonial-wrapper .testi-box-main .testi-box .testi-top img{
    width: 48px;
    height: 48px;
    border-radius: 80px;
    border: 1.714px solid #FFF;
}
#testimonial-part .testimonial-wrapper .testi-box-main .testi-box .testi-top h6{
    color: #0C0C0C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.09px;
}
#testimonial-part .testimonial-wrapper .testi-box-main .testi-box .testi-top strong{
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.56px;
}

#testimonial-part .testimonial-wrapper .testi-box-main .testi-box .testi-bottom p{
    color: #666;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}


/* ======================================================= */

#faq-part {
    margin-bottom: -96px;
}
#faq-part .divider {
    width: 100%;
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -80px;
    left: 0;
}
#faq-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#faq-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#faq-part .border{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -195px;
    left: 0;
}

#faq-part .faq-wrapper {
    display: flex;
    padding-top: 192px;
    gap: 96px;
}
#faq-part .faq-wrapper .faq-left{
    max-width: 426px;
}
#faq-part .faq-wrapper .faq-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#faq-part .faq-wrapper .faq-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 18px 9px 10px;
    border-radius: 100px;
    border: 0.5px solid rgba(12, 12, 12, 0.08);
    background: #FFF;
    box-shadow: 0 2px 0.5px 0 rgba(0, 0, 0, 0.11);
    max-width: 70px;
    transition: all linear .3s;
}
#faq-part .faq-wrapper .faq-title:hover{
    background: #000;
}
#faq-part .faq-wrapper .faq-title:hover h6{
    color: #FFF;
}
#faq-part .faq-wrapper .faq-title img{
    width: 24px;
    height: 24px; 
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#faq-part .faq-wrapper .faq-title h6{
    color: #666;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    transition: all linear .3s;
}
#faq-part .faq-wrapper .faq-heading{
    display: flex;
    flex-direction: column;
}
#faq-part .faq-wrapper h2{
    color: #0C0C0C;
    text-align: left;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px; /* 110.714% */
    letter-spacing: -1.12px;
    padding: 20px 0;
}
#faq-part .faq-wrapper .heading-p{
    max-width: 670px;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 56px;
    text-align: left;
}

#faq-part .faq-wrapper .faq-right .faq-main-box{
    display: flex;
    padding: var(--spacing-xl, 16px) var(--spacing-3xl, 24px);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-2xl, 16px);
    border: 1px solid rgba(12, 12, 12, 0.16);
    background: #FFF;
    flex-direction: column;
    transition: all linear .3ss;
    cursor: pointer;
}

#faq-part .faq-wrapper .faq-right .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 325px;
}
#faq-part .faq-wrapper .faq-right .box-top h4{
    color: #0C0C0C;
    font-family: Inter;
    font-size: var(--Font-size-text-xl, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-xl, 30px); /* 150% */
}

#faq-part .faq-wrapper .faq-right .faq-main-box .plus{
    transition: all linear .3s;
    
}


#faq-part .faq-wrapper .faq-right .faq-main-box.minus{
    transition: all linear .3s;
}

#faq-part .faq-wrapper .faq-right .faq-main-box:hover .minus{
    display: flex;
}
#faq-part .faq-wrapper .faq-right .faq-main-box:hover .plus{
    display: none;
}

#faq-part .faq-wrapper .faq-right .box-top .minus{
    display: none;
}
#faq-part .faq-wrapper .faq-right .faq-main-box:hover .box-bottom{
    display: flex;
}

#faq-part .faq-wrapper .faq-right .box-bottom{
    display: none;
    padding: var(--spacing-xl, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg, 12px);
    border-radius: var(--radius-xl, 12px);
    border: 1px solid #EAEAEA;
    background: #F5F5F5;
    margin-top: 25px;
    transition: all linear .3s;
}

#faq-part .faq-wrapper .faq-right .box-bottom p{
    color: #666;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

/* ======================================================= */

#customer-part{
    background: url(../images/customer\ bg.png) no-repeat center;
    background-size: cover;
    margin: 0 312px;
    border-radius: 12px;
    max-height: 630px;
}

#customer-part .divider {
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -80px;
    left: 0;
}
#customer-part .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#customer-part .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#customer-part .border {
    width: 100%;
    min-height: 155vh;
    border-left: 1px solid rgba(12, 12, 12, 0.08);
    border-right: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -100px;
    left: 0;
}

#customer-part .customer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 100px 52px 0 52px;
    gap: 96px;
}






#customer-part .customer-wrapper .customer-title{
    max-width: 270px;
    display: flex;
    padding: 9px 18px 9px 10px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.11);
}
#customer-part .customer-wrapper .customer-title img{
    width: 20px;
    height: 20px;
}
#customer-part .customer-wrapper .customer-title h6{
    color: #FFF;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */ 
}
#customer-part .customer-wrapper .customer-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 20px;
}
#customer-part .customer-wrapper .customer-heading .heading-top{
    display: flex;
    justify-content: center;
    align-items: start;
}

#customer-part .customer-wrapper .customer-heading h1{
    color: #FFF;
    font-family: Geist;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px; /* 128.571% */
    letter-spacing: -0.84px;
}
#customer-part .customer-wrapper .heading-p{
    max-width: 550px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-bottom: 48px;
}

#customer-part .customer-wrapper .customer-btn{
    max-width: 170px;
    display: flex;
    height: 56px;
    padding: 4px 6px 4px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    border: 1.5px solid rgba(12, 12, 12, 0.12);
    background: #0C0C0C;
    transition: all linear .3s;
}
#customer-part .customer-wrapper .customer-btn .customer-text a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}

#customer-part .customer-wrapper .customer-btn:hover{
    background: linear-gradient(267deg, #FC9B5B 0.3%, #FF8432 51.59%, #E03FD0 98.18%);
}

#customer-part .customer-wrapper .customer-right img{
    max-width: 423px;
}
#customer-part .customer-wrapper .customer-left{
    padding-top: 52px;
}
#customer-part .customer-wrapper .customer-right{
    padding-top: 52px;
}

#customer-part .customer-wrapper .customer-left .two-iteam{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-top: 77px;
}
#customer-part .customer-wrapper .customer-left .two-iteam .cust-iteam1{
    color: #FFF;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    padding-right: 24px;
}
#customer-part .customer-wrapper .customer-left .two-iteam .cust-iteam2{
    color: #FFF;
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
/* ===================================================== */

footer{
    background: url(../images/footer\ bg.png) no-repeat center;
    background-size: cover;
    margin-top: 192px;
}

footer .divider {
    border-top: 1px solid rgba(12, 12, 12, 0.08);
    position: relative;
    top: -90px;
    left: 0;
}
footer .divider .top-img1{
    position: absolute;
    top: -13px;
    left: -11px;
    animation: spin 6s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
footer .divider .top-img2{
    position: absolute;
    top: -14px;
    right: -13px;
    animation: spin 6s linear;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
footer .border{
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.16);
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    position: relative;
}

footer .footer-wrapper {
    padding-top: 80px;
}

footer .footer-wrapper .ftop-right .footer-btn{
    display: flex;
    height: 56px;
    padding: 0 8px 0 16px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    border: 1.5px solid rgba(12, 12, 12, 0.12);
    background: #0C0C0C;
}
footer .footer-wrapper .footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .footer-wrapper .ftop-left h2{
    color: #FFF;
    font-family: Geist;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px; /* 180% */
    letter-spacing: -0.6px;
}
footer .footer-wrapper .ftop-right .footer-btn .email{
    background: #fff;
}
footer .footer-wrapper .ftop-right .footer-btn span{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}
footer .footer-wrapper .footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    /* padding: 24px; */
    margin-top: 50px;
}
footer .footer-wrapper .footer-bottom .bottom-up{
    display: flex;
    align-items: center;
    gap: 140px;
}
footer .footer-wrapper .footer-bottom .up-left {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .footer-wrapper .footer-bottom .up-left .logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

footer .footer-wrapper .footer-bottom .up-left .logo img{
    width: 60px;
    height: 60px;
   animation: spin 6s linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer .footer-wrapper .footer-bottom .up-left .logo h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 41.25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer .footer-wrapper .footer-bottom .up-left .text p{
    max-width: 468px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
footer .footer-wrapper .footer-bottom .up-right ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
} 
footer .footer-wrapper .footer-bottom .up-right{
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 130px;
}
footer .footer-wrapper .footer-bottom .up-right .name{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-wrapper .footer-bottom .up-right .name strong{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
} 
footer .footer-wrapper .footer-bottom .up-right ul li a{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
} 
footer .footer-wrapper .footer-bottom .up-right .iteams{
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer .footer-wrapper .footer-bottom .up-right .iteams strong{
      color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
} 
footer .footer-wrapper .footer-bottom .up-right .footer-icons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;
} 

footer .footer-wrapper .footer-bottom .up-right .footer-icons img{
    width: 40px;
    height: 40px;
}

footer .footer-wrapper .footer-bottom .bottom-down{
    display: flex;
    justify-content: center;
    gap: 606px;
    margin-top: 49px;
    width: 97%;
    padding: 24px;
    align-items: center;
    border-radius: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

footer .footer-wrapper .footer-bottom .bottom-down p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
footer .footer-wrapper .footer-bottom .bottom-down .design{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}























